.show {
  .row1 {
    margin: 5px 0px;
    .row1-top {
      padding-left: 5px;
      height: 160px;
      img {
        height: 100%;
        width: 100%;
      }
    }
      .row1-button {
        padding-left: 5px;
        padding-top:5px ;
        height: 160px;
        img {
          height: 100%;
          width: 100%;
        }
    }
  }
  .row2-right{
    padding-left:5px ;
  }
}
